[submodule "gateway-ms"]
	path = gateway-ms
	url = https://github.com/Flor-Bank/gateway-ms.git
[submodule "auth-ms"]
	path = auth-ms
	url = https://github.com/Flor-Bank/auth-ms.git
[submodule "transaction-ms"]
	path = transaction-ms
	url = https://github.com/Flor-Bank/transaction-ms.git
[submodule "account-ms"]
	path = account-ms
	url = https://github.com/Flor-Bank/account-ms.git
[submodule "fixed-term-deposite-ms"]
	path = fixed-term-deposite-ms
	url = https://github.com/Flor-Bank/fixed-term-deposite-ms.git
